body {
	width: 55vw;
	margin-left: auto;
	margin-right: auto;
	background-color: #15273c;
	font-family: "Helvetica", "Verdana", sans-serif;
	color: white;
}
h1{
	margin-top: 50px;
	margin-bottom: 80px;
	width: 100%;
	text-align: center;
	font-size: 3vw;
}

h2 {
	margin-bottom: 1px;
	padding-bottom: 1px;
}

#content {
	margin-top: 10pt;
}

.switchComp {
	height: 20px;
	width: 40px;
	background-color: grey;
	border-radius: 20px;
	padding: 0;
	border: white solid 4px;
	margin-top: 10px;
	cursor: pointer;

	.knobComp{
		position: relative;
		margin: 0px;
		height: 20px;
		width: 20px;
		background-color: white;
		border-radius: 100px;
		transition: margin 0.25s;
	}
}

.switchComp.active{
	background-color: green;

	.knobComp{
		margin-left: 20px;
	}
}

.switchComp:hover{
	border-color: lightblue;
}

.circularBtn{
	width: 40px;
	height: 40px;
	border-radius: 100%;
	padding: 0;
	cursor: pointer;
		
	border: grey solid 1px;
	background-color: lightcyan;

	img{
		margin-top: 5px;
		margin-left: 6px;
		height: 30px;
		width: 30px;
	}
}

.circularBtn:hover{
	background-color: #b5d6fc;
}

.circularBtn:active{
	background-color: #97c7ff;
}

#vidFeed{
	height: 360px;
	width: 640px;
	
	position: absolute;
	top: calc(70px + 80px + 3vw + 5px);

	.screenCtl{
		margin: 25px;
		position: absolute;
		display: flex;
		flex-direction: column;
		gap: 10px;
		bottom: 0;
	}

	#zoomCtls{
		right: 0;
	}

	#sndCtls{
		img{
			margin-top: 7px;
			height: 25px;
			width: 25px;
		}
	}
}

.flex{
	display: flex;
}

#controlPanel{
	margin-left: 75px;
	height: 360px;
	p{
		width: 200px;
		font-weight: 600;
	}
}

#micIcon{
	margin-left: 7px;
}

#camMoveCtls{
	width: 130px;
	height: 120px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: lightcyan;
	border-radius: 100%;

	.circularBtn{
		border: none;
	}

	.circularBtn:hover{
		background-color: #00d9ff22;
	}

	.flex{
		justify-content: center;
	}
}

.centeredItem{
	justify-content: center;
	width: 250px;
	margin: 20px 0;
}

#ctlSpacer{
	height: 0px;
}

#endSpacer{
	height: 10px;
}

#terminateProgram{
	background-color: red;
	border-radius: 7px;
	padding: 10px 20px;
	border: white solid 2px;
	font-weight: 600;
	color: white;
	cursor: pointer;
}

#terminateProgram:hover{
	background-color: rgb(255, 78, 78);
}

/* #status-box {
	float: right;
	width: 250px;
	min-height: 200pt;
	border: thin black solid;
	background-color: #f3f3f3;
	padding-left: 10pt;
	padding-right: 10pt;
}

#left-box {
	margin-right: 300px;	
	border: thin black solid;
	padding-left: 10pt;
	padding-right: 10pt;
	min-height: 200pt;
} */


#error-box {
	clear: both;
	background-color: red;
	padding: 5pt 15pt;
	min-height: 10pt;
	width: 100%;
	margin-top: 20px;
	transition: opacity 0.5s;
	opacity: 1;
}

.clearError{
	opacity: 0 !important;
}

canvas {
	image-rendering: smooth;
	background-color: black;
}

select {
	margin-bottom: 10px;
	width: 282.5px;
	margin-right: 10px;
}

#srcInputs{
	height: 360px;
	margin-right: 10px;
	color: lightgrey;

	p{
		margin: 0;
	}

	h3{
		margin-top: 0;
		width: 150px;
	}

	img{
		height: 20px;
		width: 20px;
		margin-right: 5px;
		filter: brightness(0) saturate(100%) invert(91%) sepia(0%) saturate(1156%) hue-rotate(170deg) brightness(102%) contrast(87%);
	}

	#speakerInIcon{
		margin-top: -3.5px;
		height: 30px;
		width: 30px;
	}

	.srcInput{
		margin: 5px;
		padding: 5px;
		cursor:pointer;
	}
	
	.srcInput:hover{
		background-color: #222222;
	}

	.srcInput.active{
		color: white;
		font-weight: 600;
	}
}